#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         0.0.0.0 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend  http-in
    bind 0.0.0.0:80
    acl url_bl path_end -i /blue
    acl url_gr path_end -i /green
   
    use_backend nginx-blue      if url_bl
    use_backend nginx-green     if url_gr
    default_backend             nginx-blue

backend nginx-blue
    balance     roundrobin
    mode    http 
    http-request set-path / 
    server  app1 172.16.1.21:29957 check
    server  app2 172.16.1.22:23328 check
    server  app3 172.16.1.20:31231 check
    server  app4 172.16.1.25:25035 check


backend nginx-green
    balance     roundrobin
    mode    http 
    http-request set-path /
    server  app1 172.16.1.20:26954 check
    server  app2 172.16.1.22:3322 check
    server  app3 172.16.1.24:8607 check
    server  app4 172.16.1.25:5779 check

listen stats 
    bind 0.0.0.0:9090
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    stats uri /haproxy_stats
    stats realm HAProxy\ Statistics
    stats auth admin:dc14-@dmin

    stats admin if TRUE
